<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!-- <target name="con" xsi:type="ColoredConsole" layout="${machinename} ${message}" /> -->
    <target name="LogFile" xsi:type="File" fileName="\\zptlf01d\data\log\EpiPlanTool\${machinename}_${windows-identity}_${shortdate}_log.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="LogFile" />
  </rules>
  
</nlog>